header {
  font-size: xxx-large;
  text-align: center;
  padding: 30px;
  background-color: #4a4a4a;
  color: #f9f9f9;
  font-family: STCaiyun;
}

body {
	background-color: #333;
	
}
	
nav {
   background-color: #333;
      }
      
nav a {
        display: inline-block;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
		font-family: STCaiyun;
      }
      
nav a:hover {
        background-color: #ddd;
        color: black;
      }
    
.container {
  position: relative;
  top: 100px;
  left: 250px;
  width: 700px;
  height: 300px;
  border: 2px solid white;
}

.container>div {
  text-align: center;
  padding: 20px auto;
  font-size: 35px;
}

.container2 {
  position: relative;
  top: 200px;
  left: 250px;
  width: 700px;
  height: 300px;
  background-color: #eee;
   border: 2px solid white;
}

.container2>div {
  text-align: center;
  padding: 20px auto;
  font-size: 35px;
}

.container3 {
  position: relative;
  top: -508px;
  left: 1000px;
  width: 700px;
  height: 300px;
  background-color: #eee;
   border: 2px solid white;
}

.container3>div {
  text-align: center;
  padding: 20px auto;
  font-size: 35px;
}
 
.container4 {
  position: relative;
  top: -408px;
  left: 1000px;
  width: 700px;
  height: 300px;
  background-color: #eee;
   border: 2px solid white;
}

.container4>div {
  text-align: center;
  padding: 20px auto;
  font-size: 35px;  
}

.container5 {
  position: relative;
  top: 300px;
  left: 250px;
  width: 700px;
  height: 300px;
  background-color: #eee;
   border: 2px solid white;
}

.container5>div {
  text-align: center;
  padding: 20px auto;
  font-size: 35px;
}

.container6 {
  position: relative;
  top: -650px;
  left: 250px;
  width: 1450px;
  height: 300px;
  background-color: #333;
   border: 2px solid white;
}

.container6>div {
  text-align: center;
  padding: 20px auto;
  font-size: 35px;
  color: #f9f9f9;
  font-family: 
}

.container7 {
  position: relative;
  top: 100px;
  left: 250px;
  width: 700px;
  height: 300px;
  background-color: #eee;
   border: 2px solid white;
}

.container7>div {
  text-align: center;
  padding: 20px auto;
  font-size: 35px;
   
}

.container8 {
  position: relative;
  top: -610px;
  left: 1000px;
  width: 700px;
  height: 300px;
  background-color: #eee;
   border: 2px solid white;
}

.container8>div {
  text-align: center;
  padding: 20px auto;
  font-size: 35px;  
}

.container9 {
  position: relative;
  top: -508px;
  left: 1000px;
  width: 700px;
  height: 300px;
  background-color: #eee;
   border: 2px solid white;
}

.container9>div {
  text-align: center;
  padding: 20px auto;
  font-size: 35px;  
}

.container10 {
  position: relative;
  top: -400px;
  left: 250px;
  width: 1450px;
  height: 300px;
  background-color: #333;
   border: 2px solid white;
}

.container10>div {
  text-align: center;
  padding: 20px auto;
  font-size: 35px;
  color: #f9f9f9;
  font-family: 
}